Checks: > 
  clang-diagnostic-*,
  clang-analyzer-*,
  modernize-*,
  bugprone-*,
  concurrency-*,
  cppcoreguidelines-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -readability-function-cognitive-complexity
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: file
