/debug
/release
/dram/debug
/dram/release
/dram/build
*.user
*.tdb
!tests/tests_regression/*/expected/*.tdb
*.tdb-journal
*.out
/build-simulation
/release-simulation
*.*~
build*/
._.DS_Store
.DS_Store
*.swp
*.swo
cscope*
DRAMSys/analyzer/scripts/__pycache__/
*.pyc
*.autosave
*__pycache__*
DRAMSys/gem5/boot_linux/linux-aarch32-ael.img
DRAMSys/docs/doxygen
.vscode
cmake-build*
.idea
.cache
.env
